In [161]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns

In [205]:
df = pd.read_csv("s3://german-credit-20221001/datos/original/german_credit_data.csv")

In [163]:
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
 10  Risk              1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [165]:
df.describe()

        Unnamed: 0          Age          Job  Credit amount     Duration
count  1000.000000  1000.000000  1000.000000    1000.000000  1000.000000
mean    499.500000    35.546000     1.904000    3271.258000    20.903000
std     288.819436    11.375469     0.653614    2822.736876    12.058814
min       0.000000    19.000000     0.000000     250.000000     4.000000
25%     249.750000    27.000000     2.000000    1365.500000    12.000000
50%     499.500000    33.000000     2.000000    2319.500000    18.000000
75%     749.250000    42.000000     2.000000    3972.250000    24.000000
max     999.000000    75.000000     3.000000   18424.000000    72.000000

In [166]:
df["Risk"].value_counts()

good    700
bad     300
Name: Risk, dtype: int64

In [167]:
train, test = train_test_split(df, test_size=0.3, random_state=42, stratify=df["Risk"])

In [168]:
train["Risk"].value_counts()/train["Risk"].count()

good    0.7
bad     0.3
Name: Risk, dtype: float64

In [169]:
test["Risk"].value_counts()/test["Risk"].count()

good    0.7
bad     0.3
Name: Risk, dtype: float64

In [170]:
train.to_csv("s3://german-credit-20221001/datos/train/train.csv", index=False)

In [171]:
test.to_csv("s3://german-credit-20221001/datos/test/test.csv")

In [172]:
pd.crosstab(index=train["Housing"], columns=train["Risk"], margins=True)

Risk     bad  good  All
Housing
free      29    45   74
own      133   371  504
rent      48    74  122
All      210   490  700

In [173]:
pd.crosstab(index=train["Duration"], columns=train["Risk"], margins=True)

Risk      bad  good  All
Duration
4           0     6    6
6           7    49   56
7           0     2    2
8           1     3    4
9           7    26   33
10          3    19   22
11          0     5    5
12         37    83  120
13          0     3    3
14          1     3    4
15          7    38   45
16          1     1    2
18         30    48   78
20          0     4    4
21          8    16   24
22          0     2    2
24         36    88  124
26          0     1    1
27          0     7    7
28          1     2    3
30         10    25   35
33          1     1    2
36         24    27   51
39          1     2    3
40          1     0    1
42          3     7   10
45          2     1    3
47          0     1    1
48         24    13   37
54          1     1    2
60          3     6    9
72          1     0    1
All       210   490  700

In [174]:
tabla_sex =pd.crosstab(index=train["Sex"], columns=train["Risk"], margins=True)

In [175]:
tabla_sex["proba"] = tabla_sex.iloc[:,1]/tabla_sex.iloc[:,2]

In [176]:
tabla_sex

Risk    bad  good  All    proba
Sex
female   76   138  214  0.64486
male    134   352  486  0.72428
All     210   490  700  0.70000

In [177]:
##Preprosesamiento
from sklearn.impute import SimpleImputer

In [178]:
#Se imputan variables que no contienen datos, esto es para producciÃ³n
#Age","Credit amount","Duration",
X_train = train[["Saving accounts","Checking account"]]

In [179]:
imputer = SimpleImputer(strategy="constant", fill_value='UPS')

In [180]:
imputer.fit(X_train)

SimpleImputer(fill_value='UPS', strategy='constant')

In [181]:
imputer.statistics_

array(['UPS', 'UPS'], dtype=object)

In [182]:
imputer.transform([['moderate',np.nan],[np.nan,np.nan]])

/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

array([['moderate', 'UPS'],
       ['UPS', 'UPS']], dtype=object)

In [183]:
imputer.fit_transform(X_train)

array([['little', 'rich'],
       ['little', 'UPS'],
       ['UPS', 'moderate'],
       ...,
       ['little', 'UPS'],
       ['little', 'UPS'],
       ['little', 'little']], dtype=object)

## Prueba con KNN

In [184]:
df2 = pd.DataFrame( [[40,19,3.0],[42,20,3.1],[44,21,np.nan],[45,23,4.1],[39,25,5.0],[80,27,np.nan],[82,30,4.8]], columns=["Peso","Edad","Nota"])

In [185]:
from sklearn.impute import KNNImputer

In [192]:
imputer = KNNImputer(n_neighbors=4)

In [193]:
imputer.fit(df2)

KNNImputer(n_neighbors=4)

In [194]:
imputer.transform(df2)

array([[40.  , 19.  ,  3.  ],
       [42.  , 20.  ,  3.1 ],
       [44.  , 21.  ,  3.8 ],
       [45.  , 23.  ,  4.1 ],
       [39.  , 25.  ,  5.  ],
       [80.  , 27.  ,  3.75],
       [82.  , 30.  ,  4.8 ]])

## Escalado

In [197]:
 from sklearn.preprocessing import StandardScaler, RobustScaler

In [207]:
X_train = train[["Age","Credit amount","Duration"]]

In [208]:
scaler = StandardScaler()

In [211]:
scaler.fit(X_train[["Age"]])

StandardScaler()

In [213]:
scaler.mean_

array([35.40285714])

In [214]:
scaler.var_ ** 0.5

array([11.23479253])

In [215]:
scaler.transform(X_train[["Age"]])

array([[-0.39189483],
       [ 0.94324331],
       [-0.74793167],
       [-0.74793167],
       [-0.74793167],
       [ 0.05315121],
       [-0.035858  ],
       [-1.0149593 ],
       [-0.48090404],
       [ 1.12126173],
       [-0.48090404],
       [-1.28198693],
       [ 1.65531698],
       [-1.10396851],
       [-0.65892246],
       [-0.65892246],
       [ 1.29928014],
       [ 1.03225252],
       [-0.74793167],
       [ 1.8333354 ],
       [ 2.27838145],
       [ 1.12126173],
       [-0.21387641],
       [-0.83694088],
       [ 0.58720647],
       [ 1.03225252],
       [-0.74793167],
       [ 1.38828935],
       [-0.74793167],
       [-0.035858  ],
       [ 2.27838145],
       [ 1.74432619],
       [ 0.23116963],
       [ 0.32017884],
       [ 0.05315121],
       [-0.65892246],
       [-0.92595009],
       [-0.035858  ],
       [ 1.38828935],
       [ 0.23116963],
       [ 0.05315121],
       [-1.10396851],
       [-0.39189483],
       [-0.92595009],
       [ 0.40918805],
       [-0.56991325],
       [ 1.21027093],
       [-0.65892246],
       [-0.12486721],
       [-0.74793167],
       [ 0.94324331],
       [ 0.32017884],
       [-1.37099614],
       [ 0.40918805],
       [-0.56991325],
       [-0.83694088],
       [ 1.56630777],
       [-1.19297772],
       [-0.39189483],
       [-0.48090404],
       [ 0.05315121],
       [ 1.47729856],
       [ 0.67621568],
       [-0.56991325],
       [-0.035858  ],
       [ 0.94324331],
       [-1.0149593 ],
       [ 0.23116963],
       [-0.30288562],
       [ 0.8542341 ],
       [ 0.40918805],
       [-0.30288562],
       [ 0.58720647],
       [ 1.29928014],
       [-0.83694088],
       [-1.0149593 ],
       [ 0.58720647],
       [ 1.29928014],
       [ 0.14216042],
       [-0.65892246],
       [-0.035858  ],
       [-0.65892246],
       [-0.39189483],
       [-1.37099614],
       [-0.74793167],
       [-0.30288562],
       [ 1.74432619],
       [ 0.49819726],
       [ 0.76522489],
       [-0.035858  ],
       [-0.56991325],
       [-0.65892246],
       [-0.92595009],
       [-0.56991325],
       [-0.30288562],
       [-0.30288562],
       [ 0.58720647],
       [ 0.58720647],
       [-0.56991325],
       [-0.83694088],
       [-0.30288562],
       [ 0.32017884],
       [-0.035858  ],
       [-1.19297772],
       [-0.21387641],
       [-1.0149593 ],
       [ 0.23116963],
       [-0.74793167],
       [-0.74793167],
       [-0.39189483],
       [-1.0149593 ],
       [ 0.32017884],
       [-0.83694088],
       [ 0.23116963],
       [ 0.05315121],
       [-0.21387641],
       [-0.74793167],
       [-0.035858  ],
       [ 2.18937224],
       [ 0.32017884],
       [-0.035858  ],
       [-0.48090404],
       [-0.12486721],
       [ 0.49819726],
       [-0.65892246],
       [-0.92595009],
       [ 0.8542341 ],
       [-0.12486721],
       [-0.92595009],
       [-1.0149593 ],
       [ 1.03225252],
       [-0.12486721],
       [-0.48090404],
       [-0.21387641],
       [ 0.14216042],
       [-0.21387641],
       [-0.21387641],
       [-1.0149593 ],
       [ 2.27838145],
       [ 0.05315121],
       [-1.19297772],
       [-0.74793167],
       [ 0.23116963],
       [-1.0149593 ],
       [-0.83694088],
       [ 1.03225252],
       [-1.10396851],
       [-0.21387641],
       [ 1.74432619],
       [-0.12486721],
       [ 0.67621568],
       [-0.74793167],
       [-0.74793167],
       [ 0.76522489],
       [-1.10396851],
       [ 1.38828935],
       [-0.83694088],
       [ 0.94324331],
       [-1.0149593 ],
       [ 0.8542341 ],
       [ 0.32017884],
       [-0.39189483],
       [ 1.12126173],
       [ 0.14216042],
       [-1.10396851],
       [-0.12486721],
       [ 0.76522489],
       [ 0.67621568],
       [-1.10396851],
       [-0.48090404],
       [-0.56991325],
       [-0.56991325],
       [-1.19297772],
       [ 1.74432619],
       [ 2.18937224],
       [ 0.14216042],
       [ 2.18937224],
       [-0.48090404],
       [ 0.49819726],
       [ 0.40918805],
       [ 2.72342749],
       [-0.92595009],
       [-0.12486721],
       [-1.10396851],
       [ 0.32017884],
       [ 0.32017884],
       [-0.56991325],
       [ 0.40918805],
       [ 1.56630777],
       [-0.035858  ],
       [-1.10396851],
       [ 0.32017884],
       [ 1.03225252],
       [-0.56991325],
       [ 0.49819726],
       [-1.0149593 ],
       [-0.83694088],
       [ 1.12126173],
       [ 0.14216042],
       [-0.92595009],
       [-1.0149593 ],
       [ 1.21027093],
       [-0.92595009],
       [ 0.05315121],
       [ 0.32017884],
       [ 0.76522489],
       [ 2.72342749],
       [ 0.40918805],
       [ 0.14216042],
       [ 2.36739066],
       [-0.65892246],
       [ 1.92234461],
       [-1.0149593 ],
       [ 0.58720647],
       [-0.21387641],
       [ 0.32017884],
       [-0.12486721],
       [ 0.76522489],
       [-0.65892246],
       [ 2.45639986],
       [-0.39189483],
       [-1.0149593 ],
       [-0.035858  ],
       [-0.035858  ],
       [-0.92595009],
       [ 1.65531698],
       [-0.21387641],
       [-0.035858  ],
       [-0.30288562],
       [-0.39189483],
       [-0.65892246],
       [ 2.90144591],
       [ 1.56630777],
       [-0.30288562],
       [ 0.40918805],
       [-1.37099614],
       [-1.10396851],
       [ 1.92234461],
       [ 2.63441828],
       [ 0.8542341 ],
       [-0.92595009],
       [-0.74793167],
       [ 1.29928014],
       [ 2.10036303],
       [-1.10396851],
       [ 0.40918805],
       [-0.92595009],
       [-1.10396851],
       [-0.48090404],
       [-0.92595009],
       [-0.39189483],
       [-0.48090404],
       [ 0.40918805],
       [ 1.92234461],
       [-0.92595009],
       [-1.28198693],
       [ 0.49819726],
       [-0.035858  ],
       [-0.74793167],
       [ 0.32017884],
       [-1.10396851],
       [ 0.32017884],
       [ 1.29928014],
       [ 1.47729856],
       [ 0.67621568],
       [-1.0149593 ],
       [-0.92595009],
       [-1.10396851],
       [-1.19297772],
       [ 0.49819726],
       [-0.48090404],
       [-1.10396851],
       [-0.12486721],
       [-0.12486721],
       [-0.39189483],
       [ 0.40918805],
       [-0.56991325],
       [-0.65892246],
       [ 2.18937224],
       [ 1.56630777],
       [-1.0149593 ],
       [ 0.05315121],
       [ 0.76522489],
       [ 2.72342749],
       [-0.48090404],
       [ 2.54540907],
       [-0.30288562],
       [-1.28198693],
       [-0.65892246],
       [-0.48090404],
       [ 0.40918805],
       [-0.83694088],
       [-0.48090404],
       [ 0.8542341 ],
       [-1.0149593 ],
       [ 0.67621568],
       [-1.37099614],
       [-0.30288562],
       [-1.37099614],
       [-0.92595009],
       [-1.10396851],
       [-0.48090404],
       [-1.10396851],
       [ 0.14216042],
       [-0.48090404],
       [-0.12486721],
       [ 0.94324331],
       [-1.0149593 ],
       [ 1.8333354 ],
       [-0.74793167],
       [-1.19297772],
       [-0.035858  ],
       [ 1.21027093],
       [-0.83694088],
       [-0.30288562],
       [-0.65892246],
       [-0.12486721],
       [ 0.94324331],
       [ 0.05315121],
       [-0.21387641],
       [-0.39189483],
       [-0.30288562],
       [-0.83694088],
       [-0.21387641],
       [ 0.58720647],
       [ 0.8542341 ],
       [ 0.67621568],
       [-0.30288562],
       [ 0.14216042],
       [-0.30288562],
       [-0.21387641],
       [-0.83694088],
       [-1.37099614],
       [ 0.94324331],
       [ 0.76522489],
       [-0.74793167],
       [-0.65892246],
       [-1.10396851],
       [-0.74793167],
       [ 1.12126173],
       [-0.65892246],
       [ 0.67621568],
       [-0.65892246],
       [-1.10396851],
       [-0.83694088],
       [-0.21387641],
       [-0.74793167],
       [-0.56991325],
       [-0.12486721],
       [-0.48090404],
       [-0.30288562],
       [-0.21387641],
       [-0.035858  ],
       [-0.92595009],
       [-0.83694088],
       [-0.39189483],
       [ 0.40918805],
       [ 1.38828935],
       [-0.83694088],
       [ 0.14216042],
       [-0.48090404],
       [ 0.23116963],
       [ 2.27838145],
       [-1.10396851],
       [-1.28198693],
       [ 0.58720647],
       [-0.30288562],
       [ 0.40918805],
       [ 2.45639986],
       [-0.56991325],
       [-0.39189483],
       [ 0.05315121],
       [-0.83694088],
       [-0.83694088],
       [-0.30288562],
       [ 0.58720647],
       [ 2.10036303],
       [-0.65892246],
       [-0.30288562],
       [-0.92595009],
       [ 3.43550117],
       [-0.74793167],
       [-1.0149593 ],
       [ 0.14216042],
       [-1.28198693],
       [-1.0149593 ],
       [-1.19297772],
       [ 0.94324331],
       [ 0.40918805],
       [ 1.12126173],
       [ 0.23116963],
       [ 0.76522489],
       [ 0.40918805],
       [-0.56991325],
       [-1.0149593 ],
       [-1.19297772],
       [-0.92595009],
       [-0.48090404],
       [-0.74793167],
       [ 0.76522489],
       [-0.83694088],
       [-1.10396851],
       [-0.39189483],
       [-0.74793167],
       [-0.48090404],
       [-0.30288562],
       [-0.39189483],
       [ 1.47729856],
       [-0.92595009],
       [ 0.23116963],
       [ 0.05315121],
       [-0.83694088],
       [-1.10396851],
       [ 0.58720647],
       [-0.56991325],
       [ 0.05315121],
       [ 2.36739066],
       [ 2.01135382],
       [ 0.94324331],
       [ 1.03225252],
       [-0.39189483],
       [-0.92595009],
       [-0.48090404],
       [ 2.54540907],
       [ 0.49819726],
       [-0.56991325],
       [ 2.90144591],
       [-0.83694088],
       [ 2.72342749],
       [-1.0149593 ],
       [ 3.07946433],
       [ 1.65531698],
       [-1.10396851],
       [-0.035858  ],
       [-0.65892246],
       [ 0.14216042],
       [-0.74793167],
       [ 0.8542341 ],
       [-0.83694088],
       [-0.74793167],
       [-1.10396851],
       [-1.0149593 ],
       [ 0.40918805],
       [-0.30288562],
       [-0.83694088],
       [ 0.40918805],
       [-1.19297772],
       [-0.74793167],
       [-0.12486721],
       [ 0.05315121],
       [ 1.03225252],
       [ 0.76522489],
       [-0.74793167],
       [-0.39189483],
       [ 1.03225252],
       [-1.10396851],
       [-0.035858  ],
       [-0.30288562],
       [-0.035858  ],
       [-0.74793167],
       [-0.65892246],
       [-0.92595009],
       [-0.56991325],
       [ 0.94324331],
       [ 0.23116963],
       [ 0.58720647],
       [ 1.21027093],
       [-1.10396851],
       [ 1.29928014],
       [ 0.8542341 ],
       [ 2.01135382],
       [ 3.52451038],
       [ 0.76522489],
       [ 0.23116963],
       [-0.30288562],
       [-0.48090404],
       [-1.10396851],
       [-0.65892246],
       [ 1.29928014],
       [-0.74793167],
       [ 1.47729856],
       [ 2.27838145],
       [-0.21387641],
       [-1.19297772],
       [-1.19297772],
       [ 2.45639986],
       [-0.74793167],
       [-0.92595009],
       [ 0.58720647],
       [-0.035858  ],
       [-0.92595009],
       [-1.0149593 ],
       [-0.65892246],
       [-1.37099614],
       [-0.30288562],
       [ 2.45639986],
       [ 0.8542341 ],
       [ 2.18937224],
       [-0.48090404],
       [-0.39189483],
       [ 0.49819726],
       [ 1.65531698],
       [-1.19297772],
       [-0.74793167],
       [-0.035858  ],
       [-1.0149593 ],
       [-0.39189483],
       [-0.83694088],
       [-0.74793167],
       [-1.10396851],
       [ 0.67621568],
       [-0.39189483],
       [-1.28198693],
       [ 0.05315121],
       [-0.65892246],
       [ 0.05315121],
       [-1.0149593 ],
       [ 0.23116963],
       [ 0.23116963],
       [ 0.23116963],
       [-0.74793167],
       [ 0.23116963],
       [-0.21387641],
       [-1.19297772],
       [-0.035858  ],
       [ 0.94324331],
       [-0.12486721],
       [-1.19297772],
       [ 0.94324331],
       [-1.19297772],
       [-0.83694088],
       [-0.92595009],
       [ 1.92234461],
       [-0.83694088],
       [ 1.65531698],
       [-0.83694088],
       [-0.48090404],
       [-0.74793167],
       [-0.65892246],
       [-0.30288562],
       [-1.0149593 ],
       [ 2.10036303],
       [-1.0149593 ],
       [ 0.14216042],
       [-0.92595009],
       [-0.035858  ],
       [-0.83694088],
       [-0.48090404],
       [ 0.58720647],
       [ 2.01135382],
       [-0.12486721],
       [-0.74793167],
       [-0.12486721],
       [-1.19297772],
       [-1.19297772],
       [-0.035858  ],
       [ 0.94324331],
       [ 0.32017884],
       [ 0.67621568],
       [ 1.21027093],
       [-0.92595009],
       [-1.28198693],
       [-0.39189483],
       [-1.0149593 ],
       [-0.21387641],
       [ 0.67621568],
       [ 1.03225252],
       [ 1.03225252],
       [-0.39189483],
       [ 0.05315121],
       [ 0.49819726],
       [-0.48090404],
       [ 2.72342749],
       [-0.035858  ],
       [ 0.58720647],
       [-0.12486721],
       [ 0.49819726],
       [-0.83694088],
       [-1.19297772],
       [ 0.05315121],
       [ 0.14216042],
       [ 0.23116963],
       [-1.10396851],
       [ 0.94324331],
       [ 0.05315121],
       [ 0.14216042],
       [-0.48090404],
       [-1.19297772],
       [ 0.14216042],
       [ 0.23116963],
       [-0.21387641],
       [ 0.05315121],
       [-0.83694088],
       [-0.65892246],
       [ 0.23116963],
       [-0.39189483],
       [ 0.58720647],
       [ 1.38828935],
       [-0.21387641],
       [-0.30288562],
       [-0.12486721],
       [-0.74793167],
       [-0.12486721],
       [ 1.21027093],
       [-0.83694088],
       [ 0.14216042],
       [-0.92595009],
       [ 0.05315121],
       [-0.74793167],
       [ 0.49819726],
       [-0.74793167],
       [-0.21387641],
       [-0.21387641],
       [ 1.12126173],
       [-0.65892246],
       [-0.92595009],
       [-1.10396851],
       [-0.56991325],
       [-0.21387641],
       [-0.65892246],
       [-0.74793167],
       [-1.0149593 ],
       [-0.12486721],
       [-1.19297772],
       [ 0.14216042],
       [-0.65892246],
       [ 0.67621568],
       [-1.28198693],
       [-1.10396851],
       [-1.19297772],
       [-0.39189483],
       [-0.65892246],
       [ 0.58720647],
       [ 1.29928014],
       [-0.12486721],
       [ 2.63441828],
       [ 1.74432619],
       [ 2.54540907],
       [ 0.67621568],
       [-0.56991325],
       [ 1.29928014],
       [-0.39189483],
       [-0.56991325],
       [-0.30288562],
       [-0.21387641],
       [-1.37099614],
       [-0.56991325],
       [-0.56991325],
       [-1.37099614],
       [-0.035858  ],
       [ 1.21027093],
       [-0.56991325],
       [-0.39189483],
       [-0.92595009],
       [-0.035858  ],
       [-0.65892246],
       [-1.37099614],
       [ 1.21027093],
       [ 2.90144591],
       [-1.10396851],
       [-0.56991325],
       [-0.30288562],
       [-0.48090404],
       [ 0.32017884],
       [ 2.63441828],
       [ 0.40918805],
       [ 0.76522489],
       [-0.56991325],
       [ 2.8124367 ],
       [-1.37099614],
       [-0.12486721],
       [-0.48090404],
       [-0.48090404],
       [-1.10396851],
       [ 1.21027093],
       [-0.74793167],
       [ 1.21027093],
       [-0.035858  ],
       [ 1.12126173],
       [ 1.74432619],
       [-1.19297772],
       [ 0.40918805],
       [-0.56991325],
       [ 3.52451038],
       [ 0.14216042],
       [ 1.47729856],
       [-0.65892246],
       [ 2.01135382],
       [-0.12486721],
       [-0.48090404],
       [ 0.14216042],
       [-0.65892246],
       [-0.83694088],
       [ 0.05315121],
       [ 0.14216042],
       [ 0.49819726],
       [-0.65892246],
       [ 2.45639986],
       [ 1.21027093],
       [ 0.14216042]])

In [218]:
scaler.inverse_transform([[-0.39189483]])

array([[31.00000003]])

In [220]:
X_train["Age"].quantile(0.5)

33.0

In [222]:
X_train["Age"] - X_train["Age"].mean() / (X_train["Age"].quantile(0.75) - X_train["Age"].quantile(0.25)*1.5)

328   -16.20381
891    -1.20381
255   -20.20381
243   -20.20381
492   -20.20381
         ...
73     -6.20381
401   -19.20381
769    15.79619
2       1.79619
617   -10.20381
Name: Age, Length: 700, dtype: float64